html{
	position:relative;
	height:auto;
	min-height:100%;
}
body{
    background:#dbdbdb;
    margin: 0 0;
    font-family:normal;
    -webkit-font-smoothing:antialiased!important;
    height: 100%;
}

.logo {
    background: url(../images/menu_logo.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 250px;
    margin-top: 30px;
    position: absolute;
    z-index: 99999;
}


@font-face{
    font-family:normal;
    src:url(../fonts/power.woff2)
}
@font-face{
    font-family:habbofont;
    src:url(../fonts/habbfont.woff2)
}
#nin1 {
    position: relative;
    background: url(../images/header2.png) #222222;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}
#nin2 {
    position: absolute;
    height: 100%;
    width: 170px;
    background: #fad96700;
}
#nin4 {
    position: relative;
    height: 125px;
    width: 100%;
}
#nin5 {
    position: relative;
    width: 80%;
    left: 10%;
}

#nin7 {
    position: absolute;
    cursor: pointer;
    height: 58px;
    background: #026f9e;
    border-radius: 5px;
    top: 34px;
    right: 0;
    width: 350px;
    padding: 0 15px 0 10px;
}
#nin8 {
    position: relative;
    float: left;
    margin-right: 20px;
    top: -10px;
    height: 83px;
    width: 86px;
    background: url(../images/page.png) -90px -752px;
}
#nin9 {
    position: relative;
    float: left;
    top: 15px;
    font-size: 140%;
    color: #7f7f7f;
}
#nin10 {
    position: absolute;
    cursor: pointer;
    height: 58px;
    width: 58px;
    background: #E91E63;
    top: 34px;
    right: 222px;
    border-radius: 5px;
}
#nin11 {
    position: relative;
    height: 46px;
    width: 45px;
    background: url(../images/pageindex.png) -149px -58px;
    top: 6px;
    left: 7px;
}
#nin12 {
    position: relative;
    float: left;
    width: 330px;
    margin-left: 10%;
    z-index: 2;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    transition: all 0.5s;
}
#nin13 {
    position: relative;
    height: 55px;
    width: 100%;
    background: #026f9e;
    border-radius: 5px;
}
#nin14 {
    position: absolute;
    left: 10px;
    top: 8px;
    height: 38px;
    width: 40px;
    background: url(../images/pageindex.png) 0 -58px;
}
#nin15 {
    position: absolute;
    font-size: 160%;
    color: #ffffff;
    left: 135px;
    top: 11px;
}
#nin16 {
    position: relative;
    height: 64px;
    width: 100%;
    margin-bottom: 6px;
}
#identifiant {
    position: relative;
    color: #000;
    padding-left: 65px;
    border: 0;
    width: 260px;
    font-family: normal;
    margin-top: 10px;
    border-radius: 5px;
    height: 100%;
    font-size: 125%;
    background: #efefefa3;
    outline: #222;
}
#nin18 {
    position: absolute;
    top: 5px;
    height: 65px;
    width: 55px;
    background: url(../images/hey.png);
}
#nin19 {
    position: relative;
    height: 64px;
    width: 100%;
    margin-bottom: 6px;
}


#nin20 {
    position: absolute;
    top: 25px;
    left: 14px;
    height: 35px;
    width: 35px;
    background: url(../images/pageindex.png) -40px -58px;
}
#nin21 {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 19px;
}
#nin24 {
    position: absolute;
    transition: .2s;
    cursor: pointer;
    right: 0;
    width: 172px;
    height: 65px;
    background: #17962d;
    border-radius: 5px;
    border: 0;
    border-bottom: 4px solid #10101061;
    font-size: 120%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: normal;
}

h1 {
    text-decoration: none;
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
strong {
    text-decoration: none;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#nin27 {
    position: absolute;
    height: 215px;
    width: 92%;
    top: 370px;
    background: #ffffff;
    left: 50px;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    transition: all 0.5s;
}
#nin28 {
    position: relative;
    height: 85px;
    width: 100%;
    background: #222;
    border-radius: 8px;
    text-align: center;
    padding-top: 2px;
}
#nin29 {
    font-size: 150%;
    color: #fff;
    margin: 10px;
}
#nin30 {
    font-size: 130%;
    color: #fff;
    margin: -5px;
}
#nin31 {
    position: absolute;
    bottom: -20px;
    transition: .2s;
    left: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 39px 0;
    border-color: #222 transparent transparent transparent;
}
.nin32 {
    position: relative;
    cursor: pointer;
    transition: .2s;
    height: 80px;
    width: 200px;
    font-size: 140%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #026f9e;
    top: 33px;
    border-radius: 11px;
    border-bottom: 4px solid #d0d0d0;
}


p {
    text-decoration: none;
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

